/* CSS */
body {
    font-family: arial, helvetica, sans-serif;
    font-size: 85%;
    margin: 10px 15px;
    color: #333;
    background-color: #ddd;
}

h1 {
    font-size: 1.6em;
    font-weight: normal;
    margin: 0 0 0.3em 0;
}

h2 {
    font-size: 1.4em;
    font-weight: normal;
    margin: 1.5em 0 0 0;
}

p {
    margin: 1em 0;
}

#canvas {
    display: inline;
    float: left;
    margin: 0 10px 10px 0;
    background-color: #fff;
}

#code {
    display: block;
    width: auto;
    height: 11em;
    font-family: monospace;
    font-size: 1em;
    padding: 2px 4px;
    margin: 0;
    color: #555;
    background-color: #eee;
    border: 1px solid #999;
    overflow: auto;
}
